examples/example-1.json
[{"id":"b55b2932.1ea6a8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"52a2f8c0.6f1018","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"c4b605ca.cb60e8","type":"tab","label":"Tests","disabled":true,"info":""},{"id":"f7aab747.ad4808","type":"tab","label":"Performance","disabled":true,"info":""},{"id":"db437697.a4a758","type":"tab","label":"Subflow Link Test","disabled":true,"info":""},{"id":"b6731dd8.60d45","type":"tab","label":"SubLink Example","disabled":false,"info":""},{"id":"93fc8be8.6024e8","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"120e4886.44ef47","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[{"x":640,"y":80,"wires":[{"id":"cc0b3827.c6ac38","port":0}]}]},{"id":"42cb13e3.6976fc","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[{"x":340,"y":80,"wires":[{"id":"b0900f8c.09032","port":0},{"id":"bab324db.093648","port":0},{"id":"2a2a2c40.e7da24","port":0},{"id":"edcdc4fa.bb3a78","port":0},{"id":"74f3a966.b35078","port":0},{"id":"4c94f5ac.09146c","port":0},{"id":"ead394bb.3b7e78","port":0},{"id":"fc6263e.738d4a","port":0},{"id":"2f014794.fa0de8","port":0},{"id":"92a78765.2f45b8","port":0},{"id":"b6eade16.e1954","port":0},{"id":"b09f85f.7e5c478","port":0}]}]},{"id":"b0785147.a7d43","type":"subflow","name":"Subflow 3","info":"","in":[],"out":[{"x":340,"y":80,"wires":[{"id":"42c04305.7bec0c","port":0},{"id":"87427667.4bf348","port":0},{"id":"c258412a.fe816","port":0},{"id":"853e1780.c2c6c8","port":0},{"id":"5462a29f.ba1fcc","port":0},{"id":"90958463.0608e8","port":0},{"id":"92b112ac.f9fb","port":0},{"id":"514352a7.7e475c","port":0}]}]},{"id":"be64aeb8.9d1e2","type":"subflow","name":"Subflow 4","info":"","in":[],"out":[{"x":440,"y":280,"wires":[{"id":"54819adf.e608f4","port":0},{"id":"e3816482.7aca48","port":0},{"id":"d89da6a6.52b3c8","port":0},{"id":"7a33b69d.c92a98","port":0},{"id":"f1bbfd5b.09b01","port":0},{"id":"c529fe9e.ff6bb","port":0},{"id":"99ef9b9e.703fb8","port":0},{"id":"13a46adb.efdae5","port":0},{"id":"454ecd9f.ce8194","port":0},{"id":"3b6b27ee.58b998","port":0},{"id":"b1ac472b.1abc08","port":0},{"id":"7c0d1459.4e0d0c","port":0},{"id":"8af444a.10259b8","port":0},{"id":"c3954e03.cb458","port":0}]}]},{"id":"ba0ed678.8f0f68","type":"subflow","name":"Subflow Output","info":"","category":"","in":[],"out":[{"x":560,"y":80,"wires":[{"id":"c05170ec.9e565","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d232c9f8.e261a8","type":"subflow","name":"Subflow Input","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"63305d2f.a4fb74"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6a851a44.9f9714","type":"subflow","name":"Subflow IN Test","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"e3a03700.f37c28"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"a5b411ef.50821","type":"subflow","name":"Subflow Out Test","info":"","category":"","in":[],"out":[{"x":360,"y":80,"wires":[{"id":"15d704ec.84141b","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d3ff029b.e3a1","type":"sub-link-config","name":"Test","clone":false},{"id":"1a7f6b0.0560695","type":"ui_group","name":"Performance","tab":"18b10517.00400b","order":1,"disp":true,"width":"6"},{"id":"18b10517.00400b","type":"ui_tab","name":"Performance","icon":"show_chart"},{"id":"6958660e.5c8a18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30840630.9fc02a","type":"influxdb","hostname":"databases.myhome","port":"8086","protocol":"http","database":"nodered","name":"Nodered","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"1ce9b2d6.2b12ad","type":"mqtt-broker","name":"lo","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33953ca0.f114a4","type":"inject","z":"c4b605ca.cb60e8","name":"Cast","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ola\":\"mundo\"}","payloadType":"json","x":130,"y":120,"wires":[["f651c83e.cbe1a8"]]},{"id":"9df31dbb.f4f0f","type":"debug","z":"c4b605ca.cb60e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"df79f3d5.a8dc4","type":"inject","z":"c4b605ca.cb60e8","name":"Red","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"xxx\":{\"red\":255}}","payloadType":"json","x":70,"y":200,"wires":[[]]},{"id":"7eec8ccb.08b624","type":"inject","z":"c4b605ca.cb60e8","name":"Full RGB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"rgb\":{\"red\":140,\"green\":200,\"blue\":100}}","payloadType":"json","x":80,"y":260,"wires":[["f1eb6dd1.5eaee"]]},{"id":"f76d5b2e.6d85d8","type":"inject","z":"c4b605ca.cb60e8","name":"Full RGB","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"red","payloadType":"str","x":80,"y":500,"wires":[[]]},{"id":"a0f90278.3eae1","type":"inject","z":"c4b605ca.cb60e8","name":"Full White","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"rgb\":{\"red\":255,\"green\":255,\"blue\":255}}","payloadType":"json","x":80,"y":320,"wires":[[]]},{"id":"94055605.347778","type":"inject","z":"c4b605ca.cb60e8","name":"Temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":5000}","payloadType":"json","x":90,"y":400,"wires":[[]]},{"id":"14fcdd8f.f8ddf2","type":"inject","z":"c4b605ca.cb60e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"daylight","payloadType":"str","x":100,"y":560,"wires":[[]]},{"id":"26fb3ed3.fbcbd2","type":"inject","z":"c4b605ca.cb60e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"xxxx","payloadType":"str","x":110,"y":600,"wires":[[]]},{"id":"f1eb6dd1.5eaee","type":"node-red-contrib-colorspace","z":"c4b605ca.cb60e8","name":"","target":"payload","x":240,"y":260,"wires":[["9df31dbb.f4f0f"]]},{"id":"55d5ce01.cf064","type":"inject","z":"c4b605ca.cb60e8","name":"","props":[{"p":"color","v":"{\"rgb\":{\"red\":255,\"green\":10,\"blue\":20}}","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TESTE","payloadType":"str","x":110,"y":60,"wires":[[]]},{"id":"7ea1e95f.7693c8","type":"inject","z":"c4b605ca.cb60e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":40,"wires":[[]]},{"id":"42a7233.5f574dc","type":"sub-link-output","z":"120e4886.44ef47","link":"d3ff029b.e3a1","x":200,"y":80,"wires":[["cc0b3827.c6ac38"]]},{"id":"b0900f8c.09032","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":80,"wires":[[]]},{"id":"bab324db.093648","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":140,"wires":[[]]},{"id":"2a2a2c40.e7da24","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":200,"wires":[[]]},{"id":"edcdc4fa.bb3a78","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":260,"wires":[[]]},{"id":"74f3a966.b35078","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":320,"wires":[[]]},{"id":"4c94f5ac.09146c","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":380,"wires":[[]]},{"id":"ead394bb.3b7e78","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":440,"wires":[[]]},{"id":"fc6263e.738d4a","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":500,"wires":[[]]},{"id":"2f014794.fa0de8","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":560,"wires":[[]]},{"id":"92a78765.2f45b8","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":620,"wires":[[]]},{"id":"b6eade16.e1954","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":680,"wires":[[]]},{"id":"b09f85f.7e5c478","type":"subflow:120e4886.44ef47","z":"42cb13e3.6976fc","x":200,"y":740,"wires":[[]]},{"id":"42c04305.7bec0c","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":80,"wires":[[]]},{"id":"87427667.4bf348","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":140,"wires":[[]]},{"id":"c258412a.fe816","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":200,"wires":[[]]},{"id":"853e1780.c2c6c8","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":260,"wires":[[]]},{"id":"5462a29f.ba1fcc","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":320,"wires":[[]]},{"id":"90958463.0608e8","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":380,"wires":[[]]},{"id":"92b112ac.f9fb","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":440,"wires":[[]]},{"id":"514352a7.7e475c","type":"subflow:42cb13e3.6976fc","z":"b0785147.a7d43","name":"","env":[],"x":200,"y":500,"wires":[[]]},{"id":"cc0b3827.c6ac38","type":"node-red-contrib-colorspace","z":"120e4886.44ef47","name":"","target":"color","x":460,"y":80,"wires":[[]]},{"id":"d4273bb3.2956f8","type":"gc","z":"f7aab747.ad4808","minor":true,"major":true,"incremental":true,"weak":true,"all":true,"name":"","x":90,"y":100,"wires":[["c79dbd16.6f388","3f3991ab.95e55e","5ebb8b7f.374774"]]},{"id":"c79dbd16.6f388","type":"function","z":"f7aab747.ad4808","name":"Get heap size freed by GC","func":"function sendWithDelay(message) {\n    node.send(message);\n}\n\n// Pass the totHeapSize difference (i.e. the amount of heap size that has been freed by the GC) and the topic to the output.\n// To get a pulse, make the signal 0 (300 msecs) before and (300 msecs) after the real value.\nsetTimeout(sendWithDelay, 0, {payload:0, topic:msg.topic});\nsetTimeout(sendWithDelay, 300, {payload:Math.abs(msg.payload.diff.totalHeapSize), topic:msg.topic});\nsetTimeout(sendWithDelay, 600, {payload:0, topic:msg.topic});","outputs":1,"noerr":0,"x":310.75390625,"y":99.85546875,"wires":[["f744096.dfe3af8"]]},{"id":"f744096.dfe3af8","type":"ui_chart","z":"f7aab747.ad4808","name":"Heap freed graph","group":"1a7f6b0.0560695","order":0,"width":0,"height":0,"label":"Garbage collections","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Garbage collections","ymin":"0","ymax":"2048576","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"outputs":2,"x":575.36328125,"y":100.10546875,"wires":[[],[]]},{"id":"3f3991ab.95e55e","type":"function","z":"f7aab747.ad4808","name":"Round","func":"\nvar newMsg = {};\nnewMsg.payload = msg.payload.after.usedHeapSize / 100000;\nnewMsg.payload = Math.round(newMsg.payload * 100) / 100\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":340,"wires":[[]]},{"id":"5ebb8b7f.374774","type":"function","z":"f7aab747.ad4808","name":"","func":"var newMsg = {};\nvar data = {};\nvar tags = {};\n\nnewMsg.measurement = 'local_nr_gc';\n\ndata.HeapTotal = msg.payload.after.totalHeapSize;\ndata.HeapUsed = msg.payload.after.usedHeapSize;\ndata.type = msg.topic.toLowerCase();\n\n\nnewMsg.payload = [data,tags];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["4168df0e.3e21f"]]},{"id":"4168df0e.3e21f","type":"influxdb out","z":"f7aab747.ad4808","influxdb":"30840630.9fc02a","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":180,"wires":[]},{"id":"f651c83e.cbe1a8","type":"sub-link-input","z":"c4b605ca.cb60e8","link":"d3ff029b.e3a1","x":320,"y":120,"wires":[]},{"id":"a406583a.3143d8","type":"debug","z":"c4b605ca.cb60e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":160,"wires":[]},{"id":"c3954e03.cb458","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":80,"wires":[[]]},{"id":"8af444a.10259b8","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":120,"wires":[[]]},{"id":"7c0d1459.4e0d0c","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":160,"wires":[[]]},{"id":"b1ac472b.1abc08","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":200,"wires":[[]]},{"id":"3b6b27ee.58b998","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":240,"wires":[[]]},{"id":"454ecd9f.ce8194","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":280,"wires":[[]]},{"id":"13a46adb.efdae5","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":320,"wires":[[]]},{"id":"99ef9b9e.703fb8","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":360,"wires":[[]]},{"id":"c529fe9e.ff6bb","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":400,"wires":[[]]},{"id":"f1bbfd5b.09b01","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":440,"wires":[[]]},{"id":"7a33b69d.c92a98","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":480,"wires":[[]]},{"id":"d89da6a6.52b3c8","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":520,"wires":[[]]},{"id":"e3816482.7aca48","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":560,"wires":[[]]},{"id":"54819adf.e608f4","type":"subflow:b0785147.a7d43","z":"be64aeb8.9d1e2","name":"","x":200,"y":600,"wires":[[]]},{"id":"4fef3b9c.b2d394","type":"sub-link-output","z":"c4b605ca.cb60e8","link":"d3ff029b.e3a1","clone":false,"x":680,"y":160,"wires":[["35bca8ef.680de8"]]},{"id":"54778aa5.8317a4","type":"sub-link-output","z":"c4b605ca.cb60e8","link":"d3ff029b.e3a1","clone":false,"x":680,"y":240,"wires":[["8edb8ae3.2c0978"]]},{"id":"8edb8ae3.2c0978","type":"delay","z":"c4b605ca.cb60e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":280,"wires":[["92148bae.ee2128"]]},{"id":"35bca8ef.680de8","type":"change","z":"c4b605ca.cb60e8","name":"","rules":[{"t":"set","p":"payload.ola","pt":"msg","to":"terra","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[["a406583a.3143d8"]]},{"id":"92148bae.ee2128","type":"debug","z":"c4b605ca.cb60e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"d0dcfd1e.3d4c5","type":"inject","z":"db437697.a4a758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":100,"wires":[["d3011acc.c9efa8"]]},{"id":"b85d4fd8.79f32","type":"sub-link-input","z":"db437697.a4a758","link":"d3ff029b.e3a1","x":480,"y":100,"wires":[]},{"id":"96b4b9fc.d3c9e8","type":"sub-link-output","z":"db437697.a4a758","link":"d3ff029b.e3a1","x":120,"y":360,"wires":[["baeed24d.c8dc9"]]},{"id":"1c58fc66.45e124","type":"debug","z":"db437697.a4a758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"fcb1aa10.333648","type":"sub-link-output","z":"ba0ed678.8f0f68","link":"d3ff029b.e3a1","x":200,"y":80,"wires":[["5d5c0e3e.88572"]]},{"id":"e9203f5f.55a04","type":"subflow:ba0ed678.8f0f68","z":"db437697.a4a758","name":"","env":[],"x":120,"y":440,"wires":[["62c56d53.88f864"]]},{"id":"62c56d53.88f864","type":"debug","z":"db437697.a4a758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":440,"wires":[]},{"id":"7506eddd.3150f4","type":"sub-link-input","z":"d232c9f8.e261a8","link":"d3ff029b.e3a1","x":360,"y":100,"wires":[]},{"id":"dd4aea5d.caf018","type":"subflow:d232c9f8.e261a8","z":"db437697.a4a758","name":"","env":[],"x":350,"y":160,"wires":[]},{"id":"63305d2f.a4fb74","type":"change","z":"d232c9f8.e261a8","name":"From","rules":[{"t":"set","p":"from","pt":"msg","to":"Subflow Input","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":100,"wires":[["7506eddd.3150f4"]]},{"id":"d3011acc.c9efa8","type":"change","z":"db437697.a4a758","name":"From","rules":[{"t":"set","p":"from","pt":"msg","to":"Main Flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[["b85d4fd8.79f32"]]},{"id":"baeed24d.c8dc9","type":"change","z":"db437697.a4a758","name":"To","rules":[{"t":"set","p":"to","pt":"msg","to":"Main Flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":360,"wires":[["1c58fc66.45e124"]]},{"id":"5fe82ff3.c1836","type":"inject","z":"db437697.a4a758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":160,"wires":[["dd4aea5d.caf018"]]},{"id":"f56376ad.6abbc8","type":"inject","z":"db437697.a4a758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":240,"wires":[["d3011acc.c9efa8","dd4aea5d.caf018"]]},{"id":"52124d96.5aab34","type":"inject","z":"b55b2932.1ea6a8","name":"Cast","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ola\":\"mundo\"}","payloadType":"json","x":90,"y":140,"wires":[[]]},{"id":"74d8a417.36680c","type":"link out","z":"b55b2932.1ea6a8","name":"","links":["7cbccc1f.884284","b0591d04.d6fee","c190d61b.2931d8","7d856ed.1b71e9","145899a5.0c9c46","8c54b2a3.55837","28f2c4dc.8d082c","420625cd.fdfdac","c0a9f354.f9a46","e95f70d7.f86ee","c9bbb998.c65898","afa67215.d278","982819fc.d39a88","810b9f6d.8ad32","fba3bfc5.04c8","7a224001.9a994","57c7d9ad.350588","fd25dda1.837ff","920b8e72.41b2d","c33a2dd9.22e72","d4d7903d.6cd22","67025957.5e42b8","50a54bc7.911164","3b4a0c1a.9ec084","7b402421.e36bdc","dd0e973a.2c2f98","33f1b92c.4ac086","9510f0f8.4a423","9acad678.bccf08","fd720fe5.52eb3"],"x":455,"y":140,"wires":[]},{"id":"7cbccc1f.884284","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":260,"wires":[["519890d7.566e"]]},{"id":"b0591d04.d6fee","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":300,"wires":[["519890d7.566e"]]},{"id":"c190d61b.2931d8","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":340,"wires":[["519890d7.566e"]]},{"id":"7d856ed.1b71e9","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":380,"wires":[["519890d7.566e"]]},{"id":"145899a5.0c9c46","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":420,"wires":[["519890d7.566e"]]},{"id":"8c54b2a3.55837","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":460,"wires":[["519890d7.566e"]]},{"id":"28f2c4dc.8d082c","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":500,"wires":[["519890d7.566e"]]},{"id":"420625cd.fdfdac","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":540,"wires":[["519890d7.566e"]]},{"id":"c0a9f354.f9a46","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":580,"wires":[["519890d7.566e"]]},{"id":"e95f70d7.f86ee","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":235,"y":620,"wires":[["519890d7.566e"]]},{"id":"9e96396b.bf41f8","type":"inject","z":"52a2f8c0.6f1018","name":"Cast","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["5b51646e.87c13c"]]},{"id":"c9bbb998.c65898","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":260,"wires":[["519890d7.566e"]]},{"id":"afa67215.d278","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":300,"wires":[["519890d7.566e"]]},{"id":"982819fc.d39a88","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":340,"wires":[["519890d7.566e"]]},{"id":"810b9f6d.8ad32","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":380,"wires":[["519890d7.566e"]]},{"id":"fba3bfc5.04c8","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":420,"wires":[["519890d7.566e"]]},{"id":"7a224001.9a994","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":460,"wires":[["519890d7.566e"]]},{"id":"57c7d9ad.350588","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":500,"wires":[["519890d7.566e"]]},{"id":"fd25dda1.837ff","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":540,"wires":[["519890d7.566e"]]},{"id":"920b8e72.41b2d","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":580,"wires":[["519890d7.566e"]]},{"id":"c33a2dd9.22e72","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":175,"y":620,"wires":[["519890d7.566e"]]},{"id":"c05170ec.9e565","type":"change","z":"ba0ed678.8f0f68","name":"To","rules":[{"t":"set","p":"to","pt":"msg","to":"Subflow Output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[[]]},{"id":"5d5c0e3e.88572","type":"function","z":"ba0ed678.8f0f68","name":"Clone","func":"//TODO, add this option to node\nnewMsg = RED.util.cloneMessage( msg );\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["c05170ec.9e565"]]},{"id":"15d704ec.84141b","type":"sub-link-output","z":"a5b411ef.50821","link":"d3ff029b.e3a1","clone":false,"x":200,"y":80,"wires":[[]]},{"id":"e3a03700.f37c28","type":"sub-link-input","z":"6a851a44.9f9714","link":"d3ff029b.e3a1","x":200,"y":80,"wires":[]},{"id":"d5928770.c8ab58","type":"gc-trigger","z":"f7aab747.ad4808","display":true,"name":"","x":510,"y":400,"wires":[[]]},{"id":"53669b.0804f964","type":"inject","z":"f7aab747.ad4808","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":420,"wires":[["d5928770.c8ab58"]]},{"id":"5b51646e.87c13c","type":"switch","z":"52a2f8c0.6f1018","name":"","property":"image","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":140,"wires":[[],["1aebabde.67e734"]]},{"id":"1aebabde.67e734","type":"change","z":"52a2f8c0.6f1018","name":"Load Image","rules":[{"t":"set","p":"timein","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"image","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["36106463.73e4ec"]]},{"id":"3e513287.dabdfe","type":"switch","z":"b55b2932.1ea6a8","name":"","property":"image","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":140,"wires":[[],["d2c02c39.e7bc4"]]},{"id":"d2c02c39.e7bc4","type":"change","z":"b55b2932.1ea6a8","name":"Load Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"image","tot":"flow"},{"t":"set","p":"timein","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["74d8a417.36680c"]]},{"id":"d4d7903d.6cd22","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":260,"wires":[["519890d7.566e"]]},{"id":"67025957.5e42b8","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":300,"wires":[["519890d7.566e"]]},{"id":"50a54bc7.911164","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":340,"wires":[["519890d7.566e"]]},{"id":"3b4a0c1a.9ec084","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":380,"wires":[["519890d7.566e"]]},{"id":"7b402421.e36bdc","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":420,"wires":[["519890d7.566e"]]},{"id":"dd0e973a.2c2f98","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":460,"wires":[["519890d7.566e"]]},{"id":"33f1b92c.4ac086","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":500,"wires":[["519890d7.566e"]]},{"id":"9510f0f8.4a423","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":540,"wires":[["519890d7.566e"]]},{"id":"9acad678.bccf08","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":580,"wires":[["519890d7.566e"]]},{"id":"fd720fe5.52eb3","type":"link in","z":"b55b2932.1ea6a8","name":"","links":["74d8a417.36680c"],"x":95,"y":620,"wires":[["519890d7.566e"]]},{"id":"f50dadd1.49ecd","type":"http request","z":"52a2f8c0.6f1018","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://c8.alamy.com/comp/F1WJN3/full-moon-harvest-moon-large-file-size-from-the-archives-of-press-F1WJN3.jpg","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":80,"wires":[["3817c688.29a2ea"]]},{"id":"3817c688.29a2ea","type":"change","z":"52a2f8c0.6f1018","name":"Save Image","rules":[{"t":"set","p":"image","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[[]]},{"id":"e810204a.2c4b1","type":"inject","z":"52a2f8c0.6f1018","name":"Cast","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"ola\":\"mundo\"}","payloadType":"json","x":110,"y":80,"wires":[["9c407f22.dbb0c"]]},{"id":"9c407f22.dbb0c","type":"switch","z":"52a2f8c0.6f1018","name":"","property":"image","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[["f50dadd1.49ecd"],[]]},{"id":"ac97a942.2117a8","type":"http request","z":"b55b2932.1ea6a8","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://c8.alamy.com/comp/F1WJN3/full-moon-harvest-moon-large-file-size-from-the-archives-of-press-F1WJN3.jpg","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":80,"wires":[["2ff31567.1d076a"]]},{"id":"2ff31567.1d076a","type":"change","z":"b55b2932.1ea6a8","name":"Save Image","rules":[{"t":"set","p":"image","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[[]]},{"id":"af28d258.e936b","type":"inject","z":"b55b2932.1ea6a8","name":"Cast","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"ola\":\"mundo\"}","payloadType":"json","x":90,"y":80,"wires":[["42ed9185.29406"]]},{"id":"42ed9185.29406","type":"switch","z":"b55b2932.1ea6a8","name":"","property":"image","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":80,"wires":[["ac97a942.2117a8"],[]]},{"id":"36106463.73e4ec","type":"subflow:6a851a44.9f9714","z":"52a2f8c0.6f1018","name":"","env":[],"x":540,"y":140,"wires":[]},{"id":"3f3f0932.fcb1b6","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":240,"wires":[["9399442a.aafe88"]]},{"id":"627ef2c5.31874c","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":280,"wires":[["9399442a.aafe88"]]},{"id":"cd750a9d.466808","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":320,"wires":[["9399442a.aafe88"]]},{"id":"c7f8d8d2.1ef598","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":360,"wires":[["9399442a.aafe88"]]},{"id":"dbbd9140.eaa0e","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":400,"wires":[["9399442a.aafe88"]]},{"id":"fdc49d34.c1052","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":440,"wires":[["9399442a.aafe88"]]},{"id":"513e1aef.3ccd14","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":480,"wires":[["9399442a.aafe88"]]},{"id":"4f05f51.102d60c","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":520,"wires":[["9399442a.aafe88"]]},{"id":"a397b9ed.1015a8","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":560,"wires":[["9399442a.aafe88"]]},{"id":"72c913ab.ea83fc","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":520,"y":600,"wires":[["9399442a.aafe88"]]},{"id":"d896ef40.ebc35","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":240,"wires":[["9399442a.aafe88"]]},{"id":"6d85d17e.eff","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":280,"wires":[["9399442a.aafe88"]]},{"id":"9aad225f.e1e0c","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":320,"wires":[["9399442a.aafe88"]]},{"id":"ee9bf433.785d48","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":360,"wires":[["9399442a.aafe88"]]},{"id":"a1ff7bab.f13048","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":400,"wires":[["9399442a.aafe88"]]},{"id":"c8b6c88.d2fd938","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":440,"wires":[["9399442a.aafe88"]]},{"id":"b7541a34.896328","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":480,"wires":[["9399442a.aafe88"]]},{"id":"9832b65.ae7cf48","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":520,"wires":[["9399442a.aafe88"]]},{"id":"ebd39eaa.1e0d8","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":560,"wires":[["9399442a.aafe88"]]},{"id":"a12e7087.5c3a4","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":340,"y":600,"wires":[["9399442a.aafe88"]]},{"id":"d0141f36.03947","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":240,"wires":[["9399442a.aafe88"]]},{"id":"45c7b26a.b6032c","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":280,"wires":[["9399442a.aafe88"]]},{"id":"6a6b8a00.067128","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":320,"wires":[["9399442a.aafe88"]]},{"id":"49b340cc.f525e","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":360,"wires":[["9399442a.aafe88"]]},{"id":"869bc14a.ff974","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":400,"wires":[["9399442a.aafe88"]]},{"id":"ab6a69d9.226f98","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":440,"wires":[["9399442a.aafe88"]]},{"id":"32b69396.2345dc","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":480,"wires":[["9399442a.aafe88"]]},{"id":"85845c39.2c50c","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":520,"wires":[["9399442a.aafe88"]]},{"id":"91aa4e4d.a00a6","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":560,"wires":[["9399442a.aafe88"]]},{"id":"68c4b0fa.6c8cc","type":"subflow:a5b411ef.50821","z":"52a2f8c0.6f1018","name":"","env":[],"x":160,"y":600,"wires":[["9399442a.aafe88"]]},{"id":"9399442a.aafe88","type":"change","z":"52a2f8c0.6f1018","name":"Tim Out","rules":[{"t":"set","p":"timeout","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["ba586868.72c3c8","b19337e3.0b0938"]]},{"id":"ba586868.72c3c8","type":"function","z":"52a2f8c0.6f1018","name":"Delta Time","func":"var newMsg = {};\nvar data = {};\nvar tags = {};\n\nnewMsg.measurement = 'local_nr_change';\n\ndata.delta = msg.timeout - msg.timein;\n\n\nnewMsg.payload = [data,tags];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":400,"wires":[["90e92202.4cc1a"]]},{"id":"90e92202.4cc1a","type":"influxdb out","z":"52a2f8c0.6f1018","influxdb":"30840630.9fc02a","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1080,"y":400,"wires":[]},{"id":"519890d7.566e","type":"change","z":"b55b2932.1ea6a8","name":"Time Out","rules":[{"t":"set","p":"timeout","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["2c8dff2c.089a","c3ad74e2.6164a8"]]},{"id":"2c8dff2c.089a","type":"function","z":"b55b2932.1ea6a8","name":"Delta Time","func":"var newMsg = {};\nvar data = {};\nvar tags = {};\n\nnewMsg.measurement = 'local_nr_change';\n\ndata.delta = msg.timeout - msg.timein;\n\n\nnewMsg.payload = [data,tags];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":420,"wires":[["16f026d8.b3ff29"]]},{"id":"16f026d8.b3ff29","type":"influxdb out","z":"b55b2932.1ea6a8","influxdb":"30840630.9fc02a","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":420,"wires":[]},{"id":"b19337e3.0b0938","type":"debug","z":"52a2f8c0.6f1018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"c3ad74e2.6164a8","type":"debug","z":"b55b2932.1ea6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"653cb1a0.91487","type":"sub-link-input","z":"b6731dd8.60d45","name":"","subTopic":"test/1","link":"d3ff029b.e3a1","x":330,"y":80,"wires":[]},{"id":"55745a84.770bd4","type":"inject","z":"b6731dd8.60d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["653cb1a0.91487"]]},{"id":"fe4b9bf7.dbd198","type":"sub-link-output","z":"b6731dd8.60d45","link":"d3ff029b.e3a1","clone":false,"x":120,"y":380,"wires":[["32154fd.2e2d6b"]]},{"id":"32154fd.2e2d6b","type":"debug","z":"b6731dd8.60d45","name":"Test4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":380,"wires":[]},{"id":"bd7f2e41.6ff6a","type":"sub-link-output","z":"b6731dd8.60d45","name":"","subTopic":"test/1","link":"d3ff029b.e3a1","clone":false,"x":90,"y":260,"wires":[["363322fe.62a8ae"]]},{"id":"363322fe.62a8ae","type":"debug","z":"b6731dd8.60d45","name":"Test1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":260,"wires":[]},{"id":"95c252aa.c1079","type":"sub-link-output","z":"b6731dd8.60d45","name":"","subTopic":"test/2","link":"d3ff029b.e3a1","clone":false,"x":90,"y":300,"wires":[["1bb779a9.ed2976"]]},{"id":"1bb779a9.ed2976","type":"debug","z":"b6731dd8.60d45","name":"Test2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":300,"wires":[]},{"id":"aefa9841.70ee58","type":"sub-link-output","z":"b6731dd8.60d45","name":"","subTopic":"#","link":"d3ff029b.e3a1","clone":false,"x":90,"y":340,"wires":[["2ec9b537.d952ea"]]},{"id":"2ec9b537.d952ea","type":"debug","z":"b6731dd8.60d45","name":"Test3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":340,"wires":[]},{"id":"2f407250.f68d7e","type":"inject","z":"b6731dd8.60d45","name":"","props":[{"p":"payload"},{"p":"subTopic","v":"test/2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["1e6468af.197217"]]},{"id":"1e6468af.197217","type":"sub-link-input","z":"b6731dd8.60d45","name":"","subTopic":"","link":"d3ff029b.e3a1","x":300,"y":120,"wires":[]},{"id":"e8051ebd.d56d4","type":"inject","z":"b6731dd8.60d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["f205d9e8.b7a528"]]},{"id":"f205d9e8.b7a528","type":"sub-link-input","z":"b6731dd8.60d45","name":"","subTopic":"","link":"d3ff029b.e3a1","x":300,"y":160,"wires":[]},{"id":"4e5913f2.54149c","type":"comment","z":"b6731dd8.60d45","name":"Sends To SubTopic test/1","info":"","x":510,"y":80,"wires":[]},{"id":"dafdde3d.a1cf1","type":"comment","z":"b6731dd8.60d45","name":"Sends To SubTopic test/2 (set in message)","info":"","x":560,"y":120,"wires":[]},{"id":"919fdb87.dc4ba8","type":"comment","z":"b6731dd8.60d45","name":"Sends withot topic","info":"","x":490,"y":160,"wires":[]},{"id":"c43fe8c5.c67958","type":"comment","z":"b6731dd8.60d45","name":"Receives From SubTopic test/1","info":"","x":530,"y":260,"wires":[]},{"id":"52da3e1f.c66cf","type":"comment","z":"b6731dd8.60d45","name":"Receives From SubTopic test/1","info":"","x":530,"y":300,"wires":[]},{"id":"16420768.4e7cb9","type":"comment","z":"b6731dd8.60d45","name":"Receives All","info":"","x":470,"y":340,"wires":[]},{"id":"547b9a8b.fde254","type":"comment","z":"b6731dd8.60d45","name":"Receives Messages Without SubTopic","info":"","x":550,"y":380,"wires":[]}]