examples/example-1.json
[{"id":"d232c9f8.e261a8","type":"subflow","name":"Subflow Input","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"63305d2f.a4fb74"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"7506eddd.3150f4","type":"sub-link-input","z":"d232c9f8.e261a8","link":"d3ff029b.e3a1","x":360,"y":100,"wires":[]},{"id":"63305d2f.a4fb74","type":"change","z":"d232c9f8.e261a8","name":"From","rules":[{"t":"set","p":"from","pt":"msg","to":"Subflow Input","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":100,"wires":[["7506eddd.3150f4"]]},{"id":"ba0ed678.8f0f68","type":"subflow","name":"Subflow Output","info":"","category":"","in":[],"out":[{"x":560,"y":80,"wires":[{"id":"c05170ec.9e565","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fcb1aa10.333648","type":"sub-link-output","z":"ba0ed678.8f0f68","link":"d3ff029b.e3a1","x":200,"y":80,"wires":[["5d5c0e3e.88572"]]},{"id":"c05170ec.9e565","type":"change","z":"ba0ed678.8f0f68","name":"To","rules":[{"t":"set","p":"to","pt":"msg","to":"Subflow Output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[[]]},{"id":"5d5c0e3e.88572","type":"function","z":"ba0ed678.8f0f68","name":"Clone","func":"//TODO, add this option to node\nnewMsg = RED.util.cloneMessage( msg );\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["c05170ec.9e565"]]},{"id":"db437697.a4a758","type":"tab","label":"Subflow Link Test","disabled":false,"info":""},{"id":"d0dcfd1e.3d4c5","type":"inject","z":"db437697.a4a758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":100,"wires":[["d3011acc.c9efa8"]]},{"id":"b85d4fd8.79f32","type":"sub-link-input","z":"db437697.a4a758","link":"d3ff029b.e3a1","x":480,"y":100,"wires":[]},{"id":"96b4b9fc.d3c9e8","type":"sub-link-output","z":"db437697.a4a758","link":"d3ff029b.e3a1","x":120,"y":360,"wires":[["baeed24d.c8dc9"]]},{"id":"1c58fc66.45e124","type":"debug","z":"db437697.a4a758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"e9203f5f.55a04","type":"subflow:ba0ed678.8f0f68","z":"db437697.a4a758","name":"","env":[],"x":120,"y":440,"wires":[["62c56d53.88f864"]]},{"id":"62c56d53.88f864","type":"debug","z":"db437697.a4a758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":440,"wires":[]},{"id":"dd4aea5d.caf018","type":"subflow:d232c9f8.e261a8","z":"db437697.a4a758","name":"","env":[],"x":350,"y":160,"wires":[]},{"id":"d3011acc.c9efa8","type":"change","z":"db437697.a4a758","name":"From","rules":[{"t":"set","p":"from","pt":"msg","to":"Main Flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[["b85d4fd8.79f32"]]},{"id":"baeed24d.c8dc9","type":"change","z":"db437697.a4a758","name":"To","rules":[{"t":"set","p":"to","pt":"msg","to":"Main Flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":360,"wires":[["1c58fc66.45e124"]]},{"id":"5fe82ff3.c1836","type":"inject","z":"db437697.a4a758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":160,"wires":[["dd4aea5d.caf018"]]},{"id":"f56376ad.6abbc8","type":"inject","z":"db437697.a4a758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":240,"wires":[["d3011acc.c9efa8","dd4aea5d.caf018"]]},{"id":"d3ff029b.e3a1","type":"sub-link-config","name":"Test"}]